<%- include('partials/navbar') %>

<div class="container row" style="margin: auto">
  <% courses.forEach(function(course){ %>
  <div class="col-sm-4">
    <div class="box boxFac">
      <div class="box-top boxtopFac">
        <a
          class="textdec h4"
          href="/faculty/<%= course.coursecode%>"
          style="color: #363740"
          ><%= course.coursecode%>: <%=course.coursename%></a
        >
      </div>
      <div class="boxMidFac">
        <span>Date: </span><input type="date" name="date" value="2022-04-01">
      </div>
      <div class="row">
        <div class="col Custom">
          <button type="button" class="btn btn-dark"><a href="" style="text-decoration: none; color: white;">BuzzWords</a></button>
        </div>
        <div class="col Custom-2">
          <button type="button" class="btn btn-dark"><a href="" style="text-decoration: none; color: white;">Attendance</a></button>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<%- include('partials/footer') %>
